/* new */
/* old */
.live-section {
  padding: 56px 0;
}
.live-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.player-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px; /* increased player size */
  aspect-ratio: 16/8.5;
  border: 2px solid #000;
  border-radius: 16px;
  overflow: hidden;
  background: linear-gradient(180deg, #0b0b0d, #070708);
  box-shadow: var(--shadow);
}

.player-wrapper iframe {
  /* position: absolute;
  inset: 0; */
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.player::after {
  display: none !important;
}

.server-switch {
  flex-wrap: wrap;
  /* margin-top: 20px; */
  display: flex;
  justify-content: center;
  gap: 10px;
}

.server-btn {
  background: #222;
  padding: 10px 18px;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  min-width: 100px;
}

.server-btn.active {
  background: var(--red);
  color: white;
}

.server-btn:hover {
  opacity: 0.8;
}

/* url: "https://amg12058-c15studio-amg12058c1-lg-us-5787.playouts.now.amagi.tv/playlist720p.m3u8", */
